<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pay">

    <application
        android:allowBackup="false"
       >
        <activity android:name=".PayMainActivity">

        </activity>
    </application>

</manifest>